.tinyFrame {
    z-index: -9999;
    opacity: 0;
    padding: 0px;
    width: 550px;
    border: none; 
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 15px;
    background-color: rgba(0, 29, 41, 0.85);
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out 0s;
    height: 130px;
    min-height: initial !important;
}

#responseFrame {
    width: 300px;
    height: 60px;
}